
<section>
  <h1>Your Cart</h1>
  <%= render partial: 'components/items' %>
  <%=link_to "Empty Cart", delete_cart_path(delete_cart: 0)%>
  <h4>Cart Total: <%= number_to_currency(@cart_sum) %></h4>
</section>

