<% if @user_experience %>
  <h3><%= link_to "Order: #{order.id}", profile_order_path(order) %>
  </h3>
<% elsif @merch_experience %>
  <h3><%= link_to "Order: #{order.id}", order_path(order) %>
  </h3>
<% else %>
  <h3>Order: <%= order.id %></h3>
<% end %>
