<% content_for :head do %>
     <% link_to rel: 'stylesheet', src: "/assets/orders.css" %>
<% end %>

<h1><%= "Purchase History" if @user_experience  %></h1>
<h1><%= "Sales History"    if @merch_experience %></h1>
<h1><%= "Store History"    if @admin_experience %></h1>

<%= render partial: 'components/orders/orders' %>
