<h1> Dashboard </h1>
<div id="merchant-orders">
  <% if @merchant_orders.length > 0 %>
    <%= link_to 'Orders', dashboard_orders_path %>
  <% else %>
    <p>Sorry <%= @user.name %>, no one has ordered any of your items.</p>
  <% end %>
</div>
