.item {
    width: 31%;
    margin:10px 1%;
    padding: 10px 30px;
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
    text-align: center;
}
.item h3 {
  margin:0 0 10px;
}
.item p {
  margin:10px 0;
}

.merchant-items .item,
.cart .item {
  width: 23%;
}

.merchant-items .item img,
.cart .item img {
  width:50%;
  margin:auto;
}
.add_sub_item span {
  padding: 9px 0;
  border: 1px solid #eee;
  border-right-width: 0;
  border-left-width: 0;
}

.add_sub_item a {
  background-color: #282f3a;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  color: white;
  text-decoration: none;
}

.add_sub_item a:last-child {
  border-radius: 0 5px 5px 0;
}

.add_sub_item a:only-child {
  border-radius: 5px;
}

#checkout {
    display: inline-block;
    background-color: #5390F4;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin:auto;
}

#checkout:hover {
  background-color: #282f3a;
}
