
#nav-bar {
  background-color: #282f3a;
  color: lightgrey;
  max-height: 100px;
  /* overflow: hidden; */
}

#nav-bar a {
  color: lightgrey;
  text-decoration: none;
}

#shopping-search-bar {
  width: 30%;
}

#welcome-user {
  color: #9bbcf2;
  text-align: center;
}

#cart-button {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-around;
}

#cart-button img {
  display: flex;
  justify-content: space-around;
  max-width: 30%;
  height: auto;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
}

.dropdown {
  /* hover & dropdown guts */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  vertical-align: middle;
  justify-content: space-around;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
}


.nav-button {
  max-width: 10%;
  max-height: 8%;
  /* overflow: hidden; */
}
