
#nav-bar {
  background-color: #282f3a;
  color: lightgrey;
  max-height: 100px;
  overflow: hidden;
  padding: 0 5%;
}

#nav-bar a {
  color: lightgrey;
  text-decoration: none;
}

#nav-bar .cart a {
  position: relative;
  padding: 0 10px;
}

#nav-bar h2, #nav-bar h3 {
  line-height:28px;
  margin:20px 0;
}

#shopping-search-bar {
  width: 20%;
}

#welcome-user {
  color: #9bbcf2;
  text-align: center;
}

#cart-button {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  vertical-align: middle;
  /* justify-content: space-around; */
}

#cart-button img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  right: 100%;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
}

.nav-button {
  max-width: 20%;
  padding:0 15px;
  text-align: center;
  vertical-align: middle;
}




.dropdown {
  /* hover & dropdown guts */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  vertical-align: middle;
  justify-content: space-around;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: #9bbcf2;
  width: 20%;
  top:68px;
  z-index: 1;

  /* display: flex; */
  /* flex-direction: column; */
}

#nav-bar .dropdown-list h3 {
  margin:0;
}

.dropdown-list a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: center;
  padding:10px 0;
}

dropdown-list a:hover {
    background-color: #7ea8ea;
}

.dropdown:hover .dropdown-list {
    display: block;
}
